html, body {
    height: 100%;
}

body {
    background-color: color(33, 37, 43);
    
    margin: 0;
    display: flex;

    justify-content: center;

    align-items: center;
}

/*
Taken from:
https://github.com/processing/p5.js/wiki/Positioning-your-canvas
*/